<% if cezar_signed_in? %>
  <div id="page_content" data-mercury="full" contenteditable="true" class="mercury-region" data-type="editable">
    <% if @page.content.nil? %>
      <p>Для того, чтобы связаться со мной, заполните форму ниже и отправьте мне сообщение, а я постараюсь, ответить вам в течение 24 часов!</p>
    <% else %>
      <p><%= @page.content.html_safe %></p>
    <% end %>
  </div>
<% else %>
  <div>
    <% if @page.content.nil? %>
      <p>Для того, чтобы связаться со мной, заполните форму ниже и отправьте мне сообщение, а я постараюсь, ответить вам в течение 24 часов!</p>
    <% else %>
      <p><%= @page.content.html_safe %></p>
    <% end %>
  </div>
<% end %>


<p id="js-field-errors" class="text-danger">
  <% if @message.errors.any? %>
    <%= render 'messages/errors' %>
  <% end %>
</p>

<div id="js-form-message">
  <%= form_for @message, remote: true do |f| %>
    <div class="row control-group">
      <div class="form-group col-xs-12 floating-label-form-group controls">
        <%= f.label :name, "Имя" %>
        <%= f.text_field :name, placeholder: "Имя", class: "form-control" %>
      </div>
    </div>
    <div class="row control-group">
      <div class="form-group col-xs-12 floating-label-form-group controls">
        <%= f.label :email, "Адрес электронной почты" %>
        <%= f.text_field :email, placeholder: "Адрес электронной почты", class: "form-control" %>
      </div>
    </div>
    <div class="row control-group">
      <div class="form-group col-xs-12 floating-label-form-group controls">
        <%= f.label :phone, "Номер телефона" %>
        <%= f.text_field :phone, placeholder: "Номер телефона", class: "form-control" %>
      </div>
    </div>
    <div class="row control-group">
      <div class="form-group col-xs-12 floating-label-form-group controls">
        <%= f.label :content, "Сообщение" %>
        <%= f.text_area :content, placeholder: "Сообщение", class: "form-control" %>
      </div>
    </div>
    <div>
      <%= recaptcha_tags %>
    </div>
    <br>
    <div id="success"></div>
    <div class="row">
      <div class="form-group col-xs-12">
        <%= f.submit "Сохранить", class: "btn btn-default" %>
      </div>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $(function() {
    PhoneMask.init();
  });
</script>
