<% if current_page?(article_path) %>
  <header class="intro-header" style="background-image: url('<%= asset_path(@article.image) %>')">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="site-heading">
            <h2><%= @article.title.html_safe %></h2>
            <hr class="small">
            <span class="subheading"><%= @article.theme.html_safe %></span>
          </div>
        </div>
      </div>
    </div>
  </header>
<% else %>
  <header class="intro-header" style="background-image: url('<%= asset_path(@page.settings_page.banner) %>')">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="site-heading">
            <% if cezar_signed_in? %>
              <h1 id="page_title" data-mercury="full" contenteditable="true" class="mercury-region" data-type="editable"><%= @page.settings_page.title.html_safe %></h1>
              <hr class="small">
              <span class="subheading mercury-region" id="page_subtitle" data-mercury="full" contenteditable="true" class="" data-type="editable"><%= @page.settings_page.subtitle.html_safe %></span>
            <% else %>
              <h1><%= @page.settings_page.title.html_safe %></h1>
              <hr class="small">
              <span class="subheading"><%= @page.settings_page.subtitle.html_safe %></span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </header>
<% end %>
