<% if current_page?(article_path) %>
  <header class="intro-header" style="background-image: url('<%= @article.image.url %>')">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="site-heading">
            <h2 id="page_title" data-mercury="full" contenteditable="true" class="mercury-region" data-type="editable"><%= @article.title %></h2>
            <hr class="small">
            <span class="subheading mercury-region" id="page_subtitle" data-mercury="full" contenteditable="true" class="" data-type="editable"><%= @article.theme %></span>
          </div>
        </div>
      </div>
    </div>
  </header>
<% else %>
  <header class="intro-header" style="background-image: url('<%= @page.settings_page.banner.url %>')">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="site-heading">
            <h1 id="page_title" data-mercury="full" contenteditable="true" class="mercury-region" data-type="editable"><%= @page.settings_page.title %></h1>
            <hr class="small">
            <span class="subheading mercury-region" id="page_subtitle" data-mercury="full" contenteditable="true" class="" data-type="editable"><%= @page.settings_page.subtitle %></span>
          </div>
        </div>
      </div>
    </div>
  </header>
<% end %>
