<div class="login-bg">

<%= render 'header' %>

  <div class="page-content container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="login-wrapper">
          <div class="box">
            <div class="content-wrap">

              <h6>Вход</h6>

              <%= form_for(resource, as: resource_name,
                                    url: session_path(resource_name)) do |f| %>

                <div class="form-group">
                  <%= f.email_field :email, autofocus: true,
                                                  class: "form-control",
                                            placeholder: "Email" %>
                </div>

                <div class="form-group">
                  <%= f.password_field :password, autocomplete: "off",
                                                           class: "form-control",
                                                     placeholder: "Пароль" %>
                </div>

                <div class="form-group">
                  <div class="action">
                    <%= f.submit "Войти", class: 'btn btn-primary' %>
                  </div>
                </div>
              <% end %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
