<div id="<%= dom_id(article) %>">
  <div id="css-header-content" class="content-box-header panel-heading">
    <div class="panel-title ">MIW</div>

    <div class="panel-options">

      <%= link_to edit_cezar_article_path(article), id: "spinner", remote: true do %>
        <i class="glyphicon glyphicon-edit"></i><% end %>

      <%= link_to cezar_article_path(article), id: "spinner", method: :delete, remote: true do %>
        <i class="glyphicon glyphicon-remove"></i><% end %>
    </div>
  </div>

  <div class="content-box-large box-with-header">
    <h1><%= article.title.html_safe %></h1>
    <blockquote><%= article.theme %></blockquote>
    <%= article.body.html_safe %>
    <div style='clear: both'></div>
  </div>
</div>
